*{
    padding: 0;
    margin:0;
}
header{
    position: relative;
    width: 82em;
    height: 5em;
    border-radius: 2em;
    background-color: black;
    color: blanchedalmond;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}
.paginas{

    position: absolute;
    margin-top: -0.5em;
    margin-left: -60em;
    width: 13em;
    height: 2.5em;
    background-color: rgb(117, 8, 8);
    border-radius: 3em;
    display: flex;
    align-items: center;
    justify-content: first baseline;
}
.section{
    position: relative;
    
    width: 82em;
    height: 33em;
    border-radius: 2em;
    background-color:silver;
    border-radius: 2em;
}
.uno{
    position: absolute;
    margin-top: 1em;
    margin-left: 60em;
    width: 20em;
    height: 20em;
    background-color: blueviolet;
    border-radius: 2em;
}
.dos{
    position: absolute;
    margin-top: 1em;
    margin-left: 21.5em;
    width: 38em;
    height: 20em;
    background-color: rgb(34, 3, 63);
    border-radius: 2em;
}
.tres{
        position: absolute;
        margin-top: 22em;
        margin-left: 1em;
        width: 80em;
        height: 10em;
        background-color: blueviolet;
        border-radius: 2em;
 }
 .cuatro{
    position: absolute;
    margin-top: 1em;
    margin-left: 1em;
    width: 20em;
    height: 20em;
    background-color: blueviolet;
    border-radius: 2em;
 }
 h3{
    position: absolute;
    margin-top: 1em;
    margin-left: 2.5em;
    color: white;
   
}
.cont{
    position: absolute;
    margin-top: 4em;
    margin-left: 4em;
    width: 70em;
    height: 8em;

}