*{
    padding: 0;
    margin:0;
}
header{
    width: 70em;
    height: 5em;
    background-color: cyan;
    display:flex;
    justify-content: space-between;
    justify-content: start;

    
}



body{
    background-color: darkmagenta;
}