*{
    padding: 0;
    margin: 0;
}
body{
    background-color: brown;
}
header{
    background-color: black;
    width: 84.5em;
    height: 6em;
    display: flex;
    justify-content: center;
   
    

}
h1{
    color: blanchedalmond;
    font-family: "Sofia", sans-serif;
    margin-top: 1em;
}
.nav{
    background-color: rgb(32, 54, 54);
    display:flex;
    flex-direction: row;
    justify-content: end;

}
main{
    background-color: brown;
    width: 75.4em;
    height: 24em;
    position: relative;
    }

.central1{
    position: absolute;
    margin-left: 20em;
    background-color: aqua;
    width: 64.4em;
    height: 24em;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.central2{
    
    background-image: url(../img/Yo.jpg);
    background-size: cover;
    width: 15em;
    height: 15em;
    border-radius: 50%;
}
strong{
    color: blue;
    font-family: "Sofia", sans-serif;  
}
aside{
    position: absolute;
    width: 20em;
    height: 24em;
    background-color: burlywood;
}
/*.contenidos{
    
    display:flex;
    width:84.5em;
    height: 40em;
    background-color: cadetblue;
    flex-direction: column;
    
}*/
/*.uno{
    background-color: coral;
    width:84.5em;
    height: 38em;
}
.dos{
    
   
    background-color: darkgoldenrod;
    width: 20em;
    height: 2em;
}*/



footer{
    background-color: black;
    height: 6em;
}
.foo{ 
    background-color: black;
    width: 84.5em;
    height: 7em;
}
.fo{
    display:flex;
    align-items: center;

}
h4{
    font-family: "Sofia", sans-serif;
    color: bisque;
}
.face{list-style: none;}
.facebook{
    width: 3em;
    height: 3em;
    background-image: url("../img/icono\ facebook.jpg");
    background-size: cover;
    border-radius: 50%;
    border: blueviolet solid 0.5em;
}
.linkd{list-style: none;}
.linkedin{
    width: 3em;
    height: 3em;
    background-image: url("../img/linkedin.jpg");
    background-size: cover;
    border-radius: 50%;
    border: blueviolet solid 0.5em;
    list-style: none;
}
.gith{list-style: none;}
.github{
    width: 3em;
    height: 3em;
    background-image: url("../img/github.jpg");
    background-size: cover;
    border-radius: 50%;
    border: blueviolet solid 0.5em;
}
.redesSociales{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.linkea{
    background-color: black;
    width: 38.25em;
    height: 6em;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
